@{
    Layout = "App_Layout";
}

                <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Employee Management System</h1>
                        <button href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" disabled><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report(cooming soon)</button>
                    </div>

             

                    <!-- Content Row -->
                    <div class="row">
                        
                        <div class="col-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Welcome</h6>
                                </div>
                                <div class="card-body">
                                    <p>This web-based application is designed to help you manage your employees effectively. Our user-friendly interface provides all the functionality needed to streamline your company's human resources processes. Here are the key features of our system:</p>
                                    <ul>
                                        <li><strong>Employee Addition and Editing:</strong> You can add new employees and update existing employee information.</li>
                                        <li><strong>Employee Deletion:</strong> You can remove employees from the system who are no longer needed.</li>
                                        <li><strong>Employee Viewing:</strong> You can view all your employees' information in an organized and clear manner.</li>
                                        <li><strong>Department Management:</strong> You can easily manage and update your employees' department information.</li>
                                    </ul>
                                    <p>Thanks to our user-friendly interface, you can perform all these tasks quickly and efficiently. We are continuously improving to provide you with an excellent experience.</p>
                                    <p>If you have any questions or feedback, please do not hesitate to contact us.</p>
                                    <p>Enjoy using our system!</p>

                                </div>
                            </div>

                        </div>
                       
                    </div>
